// Container

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.d-flex-column {
  display: flex;
  flex-direction: row;
}

.jc-center {
  justify-content: center;
}

.jc-flex-start {
  justify-content: flex-start;
}

.al-center {
  align-items: center;
}

// Margins
.margin-bottom-sm {
  margin-bottom: 4rem;
}

.margin-bottom-lg {
  margin-bottom: 9rem;
}

.margin-top-sm {
  margin-top: 4rem;
}

.margin-top-lg {
  margin-top: 8rem;
}
